* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin btn($w, $bg) {
  display: inline-block;
  width: $w;
  height: 50px;
  line-height: 50px;
  background-color: $bg;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  border: unset;
}
a.first {
  @include btn(150px, pink);
}
a.second {
  @include btn(150px, blue);
}
a.third {
  @include btn(150px, purple);
}
a.fourth {
  @include btn(150px, yellow);
}
